body{
    background:rgb(245, 154, 8);
}

.mapdiv{
   width: inherit;
}

.mapdiv path {
    fill: #dda1a1;
    stroke: #4d4c4b;
    stroke-width:1px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill:rgb(223, 14, 14);
    visibility: visible;
}
